<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-5 pm-light-bg p-3">
            <form ngNoForm>
                <h4 class="pb-2 mb-3">Create your shop</h4>
                <div class="form-group">
                    <label for="txt-email">Name</label>
                    <input class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label for="txt-email">Url</label>
                    <input class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea rows="3" class="form-control"></textarea>
                </div>
                <div class="mt-2 mb-2 text-center">
                    <button type="button" class="btn btn-success">Create Shop</button>
                </div>
            </form>
        </div>
    </div>
</div>