*,
*::before,
*::after {
    outline: 0;
}

.btn {
    cursor: pointer;
}

.btn-link:focus,
.btn-link:hover {
    text-decoration: none;
}

.fill-dock {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.pointer {
    cursor: pointer;
}

.flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.v-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

.pm-border {
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.pm-border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.h-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.txt-1 {
    font-size: 2.5rem;
}

.txt-2 {
    font-size: 2rem;
}

.txt-3 {
    font-size: 1.75rem;
}

.txt-4 {
    font-size: 1.5rem;
}

.txt-5 {
    font-size: 1.25rem;
}

.txt-6 {
    font-size: 1rem;
}

.txt-small {
    font-size: .75rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(/assets/fonts/MaterialIcons-Regular.woff2) format('woff2'), url(/assets/fonts/MaterialIcons-Regular.woff) format('woff'), url(/assets/fonts/MaterialIcons-Regular.svg) format('svg'), url(/assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-32 {
    font-size: 32px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.hidden {
    display: none !important;
}

.text-black {
    color: #000000 !important;
}

.text-black-primary {
    color: rgba(0, 0, 0, 0.87) !important;
}

.text-black-secondary {
    color: rgba(0, 0, 0, 0.54) !important;
}

.text-black-hint {
    color: rgba(0, 0, 0, 0.38) !important;
}

.text-black-divider {
    color: rgba(0, 0, 0, 0.12) !important;
}

@media (max-width: 575px) {
    .hidden-sm {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .hidden-md {
        display: none !important;
    }
}

@media (max-width: 991px) {
    .hidden-lg {
        display: none !important;
    }
}

@media (max-width: 1199px) {
    .hidden-xl {
        display: none !important;
    }
}