<div class="container">
    <h4>Account Setting</h4>
    <div class="row">
        <div class="col-md-8">
            <form ngNoForm class="mt-3">
                <div class="form-row">
                    <div class="form-group col-lg-6">
                        <label for="txt-email">First name</label>
                        <input class="form-control" id="txt-fname" type="text">
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="txt-email">Last name</label>
                        <input class="form-control" id="txt-lname" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label for="txt-email">Email</label>
                    <input class="form-control" id="txt-email" type="email">
                </div>
                <div class="mt-2 mb-2 text-center">
                    <button type="button" class="btn btn-primary mr-1 ml-1">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container mt-3">
    <h4>Change Password</h4>
    <div class="row">
        <div class="col-md-8">
            <form ngNoForm class="mt-3">
                <div class="form-group">
                    <label>Current password</label>
                    <input class="form-control" type="password">
                </div>
                <div class="form-group">
                    <label>New password</label>
                    <input class="form-control" type="password">
                </div>
                <div class="form-group">
                    <label>Confirm new password</label>
                    <input class="form-control" type="password">
                </div>
                <div class="mt-2 mb-2 text-center">
                    <button type="button" class="btn btn-primary mr-1 ml-1">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>