<div class="container pb-3">
    <div class="row">
        <div class="col-md-3">
            <div class="p-3 pm-light-bg text-center" routerLink="/checkout">Cart</div>
        </div>
        <div class="col-md-3">
            <div class="p-3 pm-light-bg text-center" routerLink="/checkout/delivery">Delivery Address</div>
        </div>
        <div class="col-md-3">
            <div class="p-3 pm-light-bg text-center" routerLink="/checkout/payment">Payment</div>
        </div>
        <div class="col-md-3">
            <div class="p-3 pm-light-bg text-center" routerLink="/checkout/complete">Complete</div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>